{% extends "base.html" %}

{% block content %}
<h2>Users</h2>

{% for user in users %}
<div class="card">
    <strong>{{ user.name }}</strong><br>
    Age: {{ user.age }}<br>
    Gender: {{ user.gender }}<br>
    Height: {{ user.height }}cm<br>
    Weight: {{ user.weight }}lbs<br>
    Cooking Skill:
    {% if user.cooking_skill == 1 %}
        <span class="stars">&#9733 &#9734 &#9734 &#9734 &#9734</span>
    {% elif user.cooking_skill == 2 %}
        <span class="stars">&#9733 &#9733 &#9734 &#9734 &#9734</span>
    {% elif user.cooking_skill == 3 %}
        <span class="stars">&#9733 &#9733 &#9733 &#9734 &#9734</span>
    {% elif user.cooking_skill == 4 %}
        <span class="stars">&#9733 &#9733 &#9733 &#9733 &#9734</span>
    {% elif user.cooking_skill == 5 %}
        <span class="stars">&#9733 &#9733 &#9733 &#9733 &#9733</span>
    {% endif %}<br>
    Daily Calories: {{ user.daily_calories }}
</div>
{% endfor %}

{% endblock %}